{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <main class="main-home">
        <header class="header-home">
            <img src="../static/Logo --yellow.svg" alt="Yellow Logo" class="header-logo">
            <p class="header-client">{{ person_name }}</p>
        </header>
        <div class="divider"></div>
        <h1 class="home">Minhas Sessões</h1>

        {% for sessao in sessoes %}
        <div class="sessao-wrapper">
            <header class="sessao-header"><h2 class="sessao">{{ sessao.Código }}</h2></header>
            <div class="sessao-info">

                {% if sessao["Sessão"] != None %}
                    <p class="sessao-status">{{ sessao.Sessão }}</p>
                {% else %}
                    <p class="sessao-status">{{ sessao.Negociação }}</p>
                {% endif %}

                <h3 class="sessao">Resumo</h3>
                    <p><b>Briefing: </b>{{ sessao.Briefing }}</p>
                    <p><b>Pacote: </b>{{ sessao.Pacote }}</p>

                {% if sessao["Data"] != None %}
                    <p><b>Data: </b>{{ sessao.Data }}</p>
                {% endif %}

                {% if sessao["Endereço"] != None %}
                    <p><b>Endereço: </b>{{ sessao.Endereço }}</p>
                {% endif %}

                <h3 class="sessao">Orçamento</h3>
                    <p><b>Total: </b>R${{ sessao.ValorTotal }},00</p>
                    <p><b>Pago: </b>R$350,00</p>
                    <p><b>Pendente: </b>R$:350,00</p>
                <a href="" class="button sessao-button">Acessar Prévias</a>
                <a href="" class="button sessao-button">Acessar Fotos</a>
                <a href="" class="button sessao-button">Ver Documentos</a>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}
