{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <main class="main-home">
        <header class="header-home">
            <img src="../static/Logo --yellow.svg" alt="Yellow Logo" class="header-logo">
            <p class="header-client">Vinícius Figueirôa - Criatco</p>
        </header>
        <div class="divider"></div>
        <h1 class="home">Minhas Sessões</h1>
        <div class="sessao-wrapper">
            <header class="sessao-header"><h2 class="sessao">VABF#03</h2></header>
            <div class="sessao-info">
                <p class="sessao-status">Tratamento</p>
                <h3 class="sessao">Resumo</h3>
                    <p><b>Briefing: </b>Casa irmão. Dois Pavimentos + Fachada</p>
                    <p><b>Pacote: </b>5 Horas + 40 Fotos</p>
                    <p><b>Data: </b><time datetime="2023-06-03">03/06/2023</time></p>
                    <p><b>Endereço: </b>Recife, Brazil</p>
                <h3 class="sessao">Orçamento</h3>
                    <p><b>Total: </b>R$700,00</p>
                    <p><b>Pago: </b>R$350,00</p>
                    <p><b>Pendente: </b>R$:350,00</p>
                <a href="" class="button sessao-button">Acessar Prévias</a>
                <a href="" class="button sessao-button">Acessar Fotos</a>
                <a href="" class="button sessao-button">Ver Documentos</a>
            </div>
        </div>
    </main>
{% endblock %}
