<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Criatco</title>
</head>
<body>
    <div class="container">
        <nav role="navigation">
            <ul>
                <div class="nav-container">
                    <li><a href="">Início</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Sobre</a></li>
                </div>
                <li><a href="" class="button">Falar no WhatsApp</a></li>
            </ul>
        </nav>
        <main class="main-login">
            <div>
                <h1 class="login-header">PORTAL<br>CRIATCO</h1>
                <h2 class="login-header">Exclusivo do Cliente</h2>
            </div>
            <div class="login-wrapper">
                <img class="logo" height="50px" src="../static/Logo.svg" alt="Criatco Logo">
                <form action="../templates/home.html">
                    <input type="text" placeholder="seu CPF">
                    <button class="button">Entrar</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>
