{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <main class="main-login">
        <div>
            <h1 class="login-header">PORTAL<br>CRIATCO</h1>
            <h2 class="login-header">Exclusivo do Cliente</h2>
        </div>
        <div class="login-wrapper">
            <img class="logo" height="50px" src="../static/Logo.svg" alt="Criatco Logo">
            <form action="/home" method="post">
                <input autofocus type="text" placeholder="seu CPF (apenas números)" autocomplete="off" id="cpf" name="cpf">
                <button class="button">Entrar</button>
            </form>
        </div>
    </main>
{% endblock %}
