<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criatco {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav role="navigation">
            <ul>
                <div class="nav-container">
                    <li><a href="/">Início</a></li>
                    <li><a href="https://instagram.com/vini.figueiroa?igshid=YmMyMTA2M2Y=" target="_blank">Instagram</a></li>
                    <li><a href="">Sobre</a></li>
                </div>
                <li><a href="https://wa.me/message/75IXIF2PDPQDC1" class="button" target="_blank">Falar no WhatsApp</a></li>
            </ul>
        </nav>
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>
